<!doctype html>
<html>
<head>
  <title>ALA Project</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body class="home-page">
  <div class="home-container">

    <!-- HEADER -->
    <div class="header">
      <div class="logo">
        <img src="/static/logo.png" class="logo-image" />
      </div>
      <div class="university">
        Gyanmanjari Innovative University
      </div>
    </div>

    <!-- INFO SECTIONS -->
    <div class="section">Gyanmanjari Institute of Technology</div>
    <div class="section">Information Technology</div>
    <div class="section">CNS(BETIT16326)</div>

    <!-- STUDENT -->
    <div class="student">
      <p>Enrollment No: 20230905090520</p>
      <p>Name:  Nidhiba Gohil</p>
    </div>

    <!-- BUTTONS -->
    <div class="buttons">
      <a href="/ala1">ALA-1</a>
      <a href="/ala2">ALA-2</a>
      <a href="/ala3">ALA-3</a>
    </div>

  </div>
</body>
</html>